*{
    box-sizing : border-box;
}

body{
    color       : white;
    font-family : "Segoe UI";
}

#id-title{
    position    : absolute;
    top         : 16px;
    left        : 16px;
    font-size   : 18px;
    font-weight : bold;
}

#id-container-main{
    position   : fixed;
    width      : 100%;
    height     : 100%;
    background : linear-gradient(135deg, #554169 0%, #2c3863 100%);
}

#id-container-center{
    position      : fixed;
    top           : 30%;
    left          : 50%;
    transform     : translate(-50%, -30%);
    padding       : 16px;
    border-radius : 16px;
    border        : 4px dotted rgba(255, 255, 255, 0.5);
    width         : 50%;
    height        : 50%;
    font-size     : 0;
    overflow      : hidden;
    min-width     : 320px;
}

.block{
    width            : 100px;
    height           : 100px;
    background-color : rgba(255, 255, 255, 0.2);
    padding          : 16px;
    border-radius    : 16px;
    font-size        : 15px;
    display          : inline-block;
    margin           : 16px 16px 0 0;
    font-weight      : 500;
    position         : relative;
    overflow         : hidden;
}

.block:hover{
    background-color : rgba(255, 255, 255, 0.3);
    cursor           : pointer;
}

#id-container-input{
    position : relative;
    height   : 64px;
}

#id-input{
    width            : 100%;
    line-height      : 32px;
    background-color : rgba(255, 255, 255, 0.1);
    padding          : 0 32px 0 16px;
    border-radius    : 32px;
    border           : 2px solid rgba(255, 255, 255, 0.5);
    color            : white;
    font-size        : 16px;
}

#id-input:hover{
    background-color : rgba(255, 255, 255, 0.15);
    border           : 2px solid rgba(255, 255, 255, 0.6);
}

#id-input:focus{
    outline : 0;
}

#id-input::placeholder{
    color : rgba(255, 255, 255, 0.3);
}

#id-input-voice{
    width            : 24px;
    height           : 24px;
    position         : absolute;
    right            : 6px;
    top              : 6px;
    border-radius    : 24px;
    background-color : rgba(255, 255, 255, 0.1);
    cursor           : pointer;
}

#id-input-voice:hover{
    background-color : rgba(255, 255, 255, 0.2);
}

#id-input-voice img{
    margin : 4px 0 0 4px;
}

#id-status{
    margin : 6px 0 0 16px;
}

.spacer{
    width  : 16px;
    height : 16px;
}

.text-title{
    margin-bottom : 8px;
}

.text-line{
    display : block;
}

.value-secondary{
    color     : rgba(255, 255, 255, 0.5);
    font-size : 14px;
}

.pos-bot-left{
    position : absolute;
    left     : 16px;
    bottom   : 16px;
}

.pos-bot-right{
    position : absolute;
    right    : 16px;
    bottom   : 16px;
}

#id-container-bottom{
    position       : absolute;
    display        : table-cell;
    vertical-align : bottom;
    bottom         : 0;
    width          : 100%;
    padding        : 16px;
    height         : 100px;
    font-size      : 14px;
    color          : rgba(255, 255, 255, 0.5);
    border-top     : 4px dotted rgba(255, 255, 255, 0.5);
    overflow       : hidden;
}

.log-lines{
    position    : absolute;
    bottom      : 16px;
    left        : 16px;
    overflow    : hidden;
    line-height : 18px;
}